#my-video {
  width: 375px;
  height: 750px;
  background-color: #eee;
}

.remoteVideos {
  width: 750px;
  height: 750px;
  background-color: #eee;
}

#video-container {
  padding: 25px;
  text-align: center;
}

#my-id {
  font-weight: bold;
}

.chatbox {
  float: left;
  height: 750px;
  width: 375px;
  overflow: scroll;
  background-color: #EEE;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #777;
}
.chatbox div {
  margin: 5px 0;
}
.peer {
  color: #FF7500;
  font-weight: 600;
}
.you {
  color: #0C6BA1;
  font-weight: 600;
}
