.chatbox {
  float: left;
  height: 300px;
  width: 90%;
  overflow: scroll;
  background-color: #EEE;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #777;
}
.chatbox div {
  margin: 5px 0;
}
.peer {
  color: #FF7500;
  font-weight: 600;
}
.you {
  color: #0C6BA1;
  font-weight: 600;
}
