.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}
.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}
.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}
.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

#video-container {
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eee;
}


#my-video {
  width: 50%;
  height: 300px;
}

#remote-video {
  width: auto;
  height: 300px;
  margin: 0 auto;
}

.remote-video {
  width: auto;
  height: 300px;
  margin: 0 auto;
}

#my-id {
  font-weight: bold;
}
#chatframe {
  width: 50%;
  height: 300px;
  position: relative;
}

#sendtextform {
  width: 100%;
  height: auto;
  margin: 0px;
  position: absolute;
	bottom: 0;
}

#mymessage {
  width: 70%;
  height: auto;
  margin: 3px;
}

#sendbutton {
  width: auto;
  height: auto;
  float:right;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.chatbox {
  width: auto;
  height: 240px;
  overflow: scroll;
  background-color: #EEE;
  padding: 10px;
  border: 1px solid #777;
}

.peer {
  color: #FF7500;
  font-weight: 600;
}
.you {
  color: #0C6BA1;
  font-weight: 600;
}
